body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
    margin: 0;
    color: #fff;
    height: 100vh;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

#chessboard {
    width: 30rem;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 0;
    transition: opacity 0.8s ease, transform 0.8s ease;
    opacity: 1;
    border: solid white 0.1px;
}

#chessboard.rotate {
    transform: rotate(180deg);
}

#chessboard.fade-flip {
    animation: fadeFlip 0.8s ease;
}

@keyframes fadeFlip {
    0% {
        opacity: 0;
        transform: rotateY(0deg);
    }
    0% {
        opacity: 0.2;
        transform: rotateY(30deg);
    }
    0% {
        opacity: 0.4;
        transform: rotateY(60deg);
    }
    0% {
        opacity: 0.6;
        transform: rotateY(120deg);
    }
    100% {
        opacity: 0.8;
        transform: rotateY(180deg);
    }
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.square:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.white {
    background-color: #ebecd0;
}

.black {
    background-color: #739552;
}

.piece {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    transition: opacity 0.8s ease, transform 0.8s ease;
    opacity: 1;
}

#chessboard.rotate .piece {
    transform: rotate(180deg);
}

.piece img {
    width: 100%;
    height: 100%;
}

#turnIndicator {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 600px) {
    #chessboard {
        width: 20rem;
        height: 20rem;
    }
    .piece img {
        width: 100%;
        height: 100%;
    }
}
