body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
    margin: 0;
    color: #fff;
    height: 100vh;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.captured-pieces {
    width: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    transform-style: preserve-3d;
}

#chessboard {
    width: 30rem; /* Adjusted to fit 60% of the viewport height with square dimensions */
    height: 30rem; /* Adjusted to fit 60% of the viewport height with square dimensions */
    display: grid;
    grid-template-columns: repeat(8, 3.75rem); /* Each column is 3.75rem */
    grid-template-rows: repeat(8, 3.75rem); /* Each row is 3.75rem */
    gap: 0;
    transition: transform 0.8s ease-in-out, opacity 0.4s ease-in-out;
    transform-style: preserve-3d;
    opacity: 1;
}

.square {
    width: 3.75rem; /* 3.75rem */
    height: 3.75rem; /* 3.75rem */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.square:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.white {
    background-color: #b0b0b0; /* Light grey */
}

.black {
    background-color: #303030; /* Dark grey */
}

.piece {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bolder;
    user-select: none;
    transition: transform 0.8s ease-in-out, opacity 0.4s ease-in-out;
    opacity: 1;
}

.white-piece {
    color: #FFD700; /* Bright gold */
}

.black-piece {
    color: #001f3f; /* Deep navy */
}

#turnIndicator {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 600px) {
    #chessboard {
        width: 20rem; /* Adjusted width */
        height: 20rem; /* Adjusted height */
        grid-template-columns: repeat(8, 2.5rem); /* Each column is 2.5rem */
        grid-template-rows: repeat(8, 2.5rem); /* Each row is 2.5rem */
    }
    .square {
        width: 2.5rem; /* 2.5rem */
        height: 2.5rem; /* 2.5rem */
        font-size: 1rem; /* Adjusted font size */
    }

    .piece {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        font-weight: bolder;
        user-select: none;
        transition: transform 0.8s ease-in-out, opacity 0.4s ease-in-out;
        opacity: 1;
    }
}
